@model Game

<form asp-controller="Games" asp-action="Index" method="post" id="gameForm">
    <br />
    <div class="row">
        @{
            var gameOverMessage = Model.IsFinished ? $"Game Over! Final Score: {Model.CurrentScore}" : string.Empty;
            if (Model.MaxNumber == 2048)
            {
                gameOverMessage = "You win! 2048";
            }
        }

        <div id="gameOverMessage">@gameOverMessage</div><br />
    </div>

    @for (int i = 0; i < Model.Field.GetLength(0); i++)
    {
        <div class="row">
            @for (int k = 0; k < Model.Field.GetLength(1); k++)
            {
                <div class="col-md-3">
                    @{
                        var numberToShow = Model.Field[i, k] == 0 ? string.Empty : Model.Field[i, k].ToString();
                    }
                    <input value="@numberToShow" name="matrix" class="form-control" id="inputField" readonly />
                </div>
            }
        </div>
    }
    <div id="arrowInput">
    </div>

    <div class="row">
        <div class="col-md-3 col-lg-offset-6">
            <br />
            Current Score: <input value="@Model.CurrentScore" name="currentScore" class="form-control" id="scoreField" readonly />
        </div>
        <div class="col-md-3">
            <br />
            Max Number: <input value="@Model.MaxNumber" name="currentScore" class="form-control" id="scoreField" readonly />
        </div>
    </div>
</form>